
/* index */

.btn-task-new {
  float: right;
}

#task-name {
  font-size: 1.8rem;
}

#table-tasks td {
  vertical-align: middle;
}

/* new */

.btn-task-create {
    width: 15%;
    margin-top: 10px;
}

/* update */

.btn-update {
  margin-top: 10px;
}

/* show */

#table-task th {
  text-align: center;
}